<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>e_mandi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemUpload</display-name>
    <servlet-name>ItemUpload</servlet-name>
    <servlet-class>ItemUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemUpload</servlet-name>
    <url-pattern>/ItemUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkValidation</display-name>
    <servlet-name>checkValidation</servlet-name>
    <servlet-class>checkValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkValidation</servlet-name>
    <url-pattern>/checkValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateAdmin</display-name>
    <servlet-name>ValidateAdmin</servlet-name>
    <servlet-class>ValidateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateAdmin</servlet-name>
    <url-pattern>/ValidateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartFruits</display-name>
    <servlet-name>AddToCartFruits</servlet-name>
    <servlet-class>AddToCartFruits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartFruits</servlet-name>
    <url-pattern>/AddToCartFruits</url-pattern>
  </servlet-mapping>
</web-app>